// layout
$headerHeight: 80px;
$breakpoint1024: 1024px;
$breakpoint1600: 1600px;


// styles
$headerFooterBg: rgba(0,0,0,0.8);
$fontColorLight: #f2f2f2;


// fonts
$roboto: 'Roboto', sans-serif;
$khand: 'Khand', sans-serif;